<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prjVendas.Properties.Settings.VendasConnectionString"
            connectionString="Data Source=MOTORHEAD\DATA;Initial Catalog=db_00981_14_A_1_2015;Persist Security Info=True;User ID=00981_14_A_1_2015;Password=987654321"
            providerName="System.Data.SqlClient" />
        <add name="prjVendas.Properties.Settings.bdVendasConnectionString"
            connectionString="Data Source=AMANDA-PC;Initial Catalog=bdVendas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="prjVendas.Properties.Settings.db_00846_14_A_1_2015ConnectionString"
            connectionString="Data Source=MOTORHEAD\DATA;Initial Catalog=db_00846_14_A_1_2015;User ID=00846_14_A_1_2015;Password=limecrossfire123"
            providerName="System.Data.SqlClient" />
        <add name="prjVendas.Properties.Settings.db_00981_14_A_1_2015ConnectionString"
            connectionString="Data Source=172.168.255.252;Initial Catalog=db_00981_14_A_1_2015;Persist Security Info=True;User ID=00981_14_A_1_2015;Password=sql987654321@"
            providerName="System.Data.SqlClient" />
        <add name="prjVendas.Properties.Settings.db_00981_14_A_1_2015ConnectionString1"
            connectionString="Data Source=AMANDA-PC;Initial Catalog=db_00981_14_A_1_2015;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>